@model BaiTapLonNhom06.Models.Client

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn có muốn xóa dữ liệu không?</h3>
<div>
   
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GioiTinh.TenGioiTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SĐT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SĐT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CMND)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CMND)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sophong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sophong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ngayvao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ngayvao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KhachhangID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
